.bank_rule {
	background-color: #fff;
	height: 100%;
	padding: 32px 32px;
	h5 {
		font-size: 32px;
		color: #3c415f;
		margin: 0 0 28px;
	}
	.bank_rule_table {
		.bank_rule_table_head {
			background-color: #1A3F6F;
			height: 80px;
			line-height: 80px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			span {
				font-size: 28px;
				color: #fff;
				width: 20%;
				text-align: center;
			}
		}
		.bank_rule_table_main {
			height: 100px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			span {
				width: 20%;
				text-align: center;
				display: flex;
				flex-direction: column;
				img {
					width: 36px;
					height: 36px;
					margin: 0 auto 6px;
				}
				em {
					font-size: 28px;
					color: #666;
					font-style: normal;
				}
			}
		}
		.bank_rule_table_main:nth-last-child(even) {
			background-color: #f2f2f2;
		}
		.bank_rule_table_main:nth-last-child(odd) {
			background-color: #e7e6e6;
		}
	}
}