.mine {
	background-color: #F3F3F3;
	height: 100%;
	.mine_head {
		background-color: #1A3F6F;
		padding: 44px 32px 0;
		position: relative;
		.mine_head_one {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			.mine_head_one_left {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				.wxPic {
					width: 50px;
					height: 50px;
					border-radius: 50%;
				}
				.wxName {
					font-size: 26px;
					color: #FFFFFF;
					margin: 0 0 0 30px;
				}
				.mobile {
					font-size: 26px;
					color: #FFFFFF;
					margin: 0 0 0 14px;
				}
			}
			.mine_head_one_right {
				width: 44px;
				height: 44px;
			}
		}
		.mine_head_two {
			display: flex;
			flex-direction: column;
			margin: 46px 0 0;
			.mine_head_two_title {
				display: flex;
				flex-direction: row;
				align-items: center;
				span {
					font-size: 26px;
					color: #AED4FF;
				}
				img {
					width: 40px;
					height: 40px;
					margin: 0 0 0 18px;
				}
			}
			.mine_head_two_money {
				font-size: 56px;
				color: #FFFFFF;
				margin: 32px 0 0;
			}
		}
		.mine_head_three {
			padding: 48px 0 68px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.mine_head_three_same {
				display: flex;
				flex-direction: column;
				.title {
					font-size: 26px;
					color: #AED4FF;
					margin: 0 0 16px;
					display: inline-block;
				}
				.money {
					font-size: 34px;
					color: #FFFFFF;
				}
				.same_diff {
					display: flex;
					flex-direction: row;
					align-items: center;
					align-items: center;
					img {
						width: 40px;
						height: 40px;
						vertical-align: middle;
						margin: -14px 0 0 14px;
					}
					
				}
			}
		}
		.mine_head_four {
			background-color: #fff;
			border-radius: 6px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 26px 30px;
			position: absolute;
			bottom: -100px;
			width: 620px;
			.mine_head_four_left {
				display: flex;
				flex-direction: column;
				.size {
					font-size: 24px;
					color: #999999;
					margin: 0 0 14px;
				}
				.account {
					font-size: 38px;
					color: #FF5D0C;
				}
			}
			.mine_head_four_right {
				display: flex;
				flex-direction: row;
				.cash {
					font-size: 30px;
					color: #FF5D0C;
					border: 2px solid #FF5D0C;
					width: 120px;
					text-align: center;
					height: 54px;
					line-height: 54px;
					border-radius: 4px;
					&::before {
						border: none;
					}
				}
				.recharge {
					font-size: 30px;
					color: #FFFFFF;
					border: 2px solid #FF5D0C;
					background-color: #FF5D0C;
					width: 120px;
					text-align: center;
					height: 54px;
					line-height: 54px;
					border-radius: 4px;
					margin: 0 0 0 28px;
					display: inline-block;
					&::before {
						border: none;
					}
				}
			}
		}
	}
	.mine_list {
		background-color: #fff;
		padding: 112px 32px 0;
		ul li {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 32px 0;
			border-bottom: 2px solid #F1F1F1;
			&:last-child {
				border-bottom: none;
			}
			.mine_list_left {
				display: flex;
				flex-direction: row;
				img {
					width: 34px;
					height: 34px;
				}
				span {
					font-size: 30px;
					color: #393939;
					margin: 0 0 0 22px;
				}
			}
			.mine_list_right {
				width: 18px;
				height: 18px;
			}
		}
	}
}