.borrower_List {
	background-color: #F3F3F3;
	.borrower_List_top {
		margin: 0 0 20px;
		.borrower_List_list {
			background-color: #fff;
			padding: 0 32px;
			ul li {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				padding: 40px 0;
				border-bottom: 2px solid #F1F1F1;
				&:last-child {
					border-bottom: none;
				}
				.mine_list_left {
					display: flex;
					flex-direction: row;
					span {
						font-size: 32px;
						color: #888888;
						margin: 0 0 0 22px;
					}
				}
				.mine_list_right {
					span {
						font-size: 32px;
						color: #393939;
					}
					a {
						font-size: 28px;
						color: #4A90E2;
					} 
				}
			}
		}
	}
}
