.list {
	.list_info {
		background-color: #fff;
		padding: 30px 32px 26px 36px;
		margin: 20px 0 0;
		.list_info_head {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			border-bottom: 2px solid #EDEDED;
			padding: 0 0 24px;
			margin: 0 0 22px;
			.list_info_head_left {
				display: flex;
				flex-direction: column;
				.name {
					font-size: 30px;
					color: #393939;
					margin: 0 0 16px;
				}
				.buy_time {
					font-size: 12px;
					color: #666666;
				}
			}
			.list_info_head_right {
				width: 104px;
				text-align: center;
				height: 38px;
				line-height: 38px;
				transform:skew(-10deg); /*设置倾斜度为-30*/
				border-radius: 8px;
				.is_expired {
					font-size: 20px;
					transform:skew(10deg); /*设置倾斜度为-30*/   
					display: inline-block;
					font-style: normal;
				}
			}
			.list_info_head_right1 {
				background-color: #639EEB;
				.is_expired1 {
					color: #ffffff;
				}
			}
			.list_info_head_right2 {
				border: 2px solid #639EEB;	
				.is_expired2 {
					color: #639EEB;
				}	
			}
			.list_info_head_right3 {
				background-color: #C0C0C0;
				border: 2px solid #C0C0C0;	
				.is_expired3 {
					color: #ffffff;
				}	
			}
		}
		.list_info_foot {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.list_info_foot_same {
				display: flex;
				flex-direction: column;
				text-align: center;
				width: 33%;
				.top {
					font-size: 34px;
					margin: 0 0 12px;
				}
				.top1_2 {
					color: #FF5D0C;
				}
				.top3 {
					color: #888888;
				}
				.bottom {
					font-size: 24px;
					color: #888888;
				}
			}
		}
	}
}